################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SalesManagement.API/.vs
/SalesManagement.API/bin/Debug/net8.0
/SalesManagement.API/obj
